@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@font-face{
	font-family:'Digital';
	src: url('../font/DS-DIGIB.ttf');
}

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*Definição da estilização da página*/
main#container{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(120deg, gray, white, gray);
	transition: background-image 1s;
	
}
	
div#containerCalc{
	width: 600px;
	height: 600px;
	position: relative;
	margin: 50px auto auto;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.5);
	object-position: 50px;
	border-radius: 100%;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}

.pulse {
	width: 100px;
	height: 100px;
	background-color: red;
	animation: pulse 0.7s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 50px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	transition: 0.5s;
  }
  
  @-webkit-keyframes pulse {
	0% {
	  -webkit-transform: scale(1);
	  -webkit-filter: brightness(100%);
	}
	100% {
	  -webkit-transform: scale(1.1);
	  -webkit-filter: brightness(200%);
	}
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(1);
	  filter: brightness(100%);
	}
	100% {
	  transform: scale(1.1);
	  filter: brightness(200%);
	}
  }

  .pulse:hover{
	transform: scale(1.1);
	animation-direction: none;
	-webkit-animation-name: none;
	animation-name: none;
  }

p.nomeprojeto{
	position: relative;
	padding: 5px;
	text-align: center;
	margin: 0px 0px 0px
}
p.numversao{
	position:static;
	padding: 5px;
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 0px;
}

/*Neste bloco estão configuradas as cores do tema White*/
/*Cores do corpo da calculadora*/
div#calculadora{
	position: absolute;
	margin: 15% 50% auto;
	transform: translate(-50% );
	border-radius: 10px;
	box-shadow: 0px 5px 15px 2px rgba(0,0,1000,0.3);
	width:300px;
	height: 400px;

	/*Alteraveis*/
	border: 1px gray solid;
	background-image: linear-gradient(120deg, rgba(180,180,180,1),rgba(250,250,250,1),rgba(190,190,200,1), white);

}
/*Configuração do Visor*/
div#calculadora #visor{
	position: static;
	margin: 15px auto auto 50%;
	transform: translate(-50%);
	width: 270px;
	height: 100px;
	color: black;
	font-family: 'Digital';
	font-size: 30px;
	text-align: right;
	outline: none;
	cursor: default;

	/*Alteraveis*/
	background: #66CDAA;
	box-shadow: 0px 0px 30px #20B2AA inset;
	
}

div#calculadora #visor:active{
	outline: none;
}
div#calculadora input.skin{
/*Configurações do botão*/
	width:45px;
	height:35px;
	position:relative;
	left: 4px;
	padding: 0px 0px 0px 0px;
	border-radius: 5px;
	background: linear-gradient(0deg, #A9A9A9 4%, #C0C0C0 52%, #DCDCDC 30%, #ffffff);
	margin: 5px;
	transition:box-shadow 1px 1px 2px rgba(0,0,0,.5) 1s;
	outline: none;
	cursor: pointer;
/*Configuração da fonte*/
	font-family: 'Orbitrom';
	font-style: italic;
	text-shadow: 0px -1px 0px rgba(49, 49, 49, 0.2);
	font-size: 23px;
	text-align: center;
	color: #505050;
	transition: color 0.1s, box-shadow 0.2s;
}

/*Iluminação de botão ao ser pressionado*/
div#calculadora input.skin:active{
	box-shadow: 0px 0px 5px rgba(0,255,255,1);
	color: rgba(0,255,255,1);
	outline: none;
	border: 0;
}

/*Neste bloco estão configuradas as cores do tema Black*/
/*Cores do corpo da calculadora*/
div#calculadora.black{
	border: 1px gray solid;
	box-shadow: 0px 5px 15px 2px rgba(0,0,1000,0.3);
	background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.781),rgb(41, 41, 41),rgba(20, 20, 20, 0.767), black);
}
/*Configuração do Visor*/
div#calculadora.black #visor{
	background: rgb(144, 180, 247);
	box-shadow: 0px 0px 30px rgb(61, 93, 153) inset;
	color: black;
}
div#calculadora.black #visor:active{
	outline: none;
}
div#calculadora.black input.skin{
/*Configurações do botão*/
	border-color: #707070;
	background: linear-gradient(0deg, rgb(12, 12, 12) 4%, rgb(50, 50, 50) 52%, rgb(65, 65, 65) 30%, rgb(148, 147, 147));
	transition:box-shadow 1px 1px 2px rgba(0,0,0,.5) 1s;

/*Configuração da fonte*/
	text-shadow: 0px -1px 0px rgba(97, 97, 97, 0.39);
	color:  rgba(216, 216, 216, 0.637);
}
/*Iluminação de botão ao ser pressionado*/
div#calculadora.black input.skin:active{
	box-shadow: 0px 0px 15px rgb(155, 207, 255);
	color: rgb(182, 220, 255);
	text-shadow: 0px -1px 0px rgb(80, 159, 248);
}
/*Neste bloco estão configuradas as cores do tema Red*/
/*Cores do corpo da calculadora*/
div#calculadora.red{
	border: 1px rgb(56, 8, 8) solid;
	box-shadow: 0px 5px 15px 2px rgba(180, 14, 20, 0.438);
	background-image: linear-gradient(120deg, rgb(59, 18, 18),rgb(94, 17, 17),rgb(146, 61, 61), rgb(73, 5, 5));
}
/*Configuração do Visor*/
div#calculadora.red #visor{
	background: rgb(218, 204, 238);
	box-shadow: 0px 0px 30px rgb(99, 73, 122) inset;
	color: rgb(0, 0, 0);
}

div#calculadora.red input.skin{
/*Configurações do botão*/
	border-color: #4d1010;
	background: linear-gradient(0deg, rgb(37, 16, 16) 4%, rgb(58, 17, 17) 52%, rgb(94, 34, 34) 30%, rgb(133, 117, 117));
	transition:box-shadow 1px 1px 2px rgba(0,0,0,.5) 1s;
/*Configuração da fonte*/
	text-shadow: 0px -1px 0px rgba(151, 151, 151, 0.39);
	color:  rgba(216, 216, 216, 0.637);
}
/*Iluminação de botão ao ser pressionado*/
div#calculadora.red input.skin:active{
	box-shadow: 0px 0px 15px rgb(250, 97, 97);
	color: rgb(255, 182, 182);
	text-shadow: 0px -1px 0px rgb(228, 46, 46);
	outline: none;
	border: 0;
}
/*Neste bloco estão configuradas as cores do tema Green*/
/*Cores do corpo da calculadora*/
div#calculadora.green{
	border: 1px rgb(8, 56, 8) solid;
	box-shadow: 0px 5px 15px 2px rgba(0, 250, 62, 0.3);
	background-image: linear-gradient(120deg, rgb(18, 59, 20),rgb(17, 94, 17),rgb(61, 146, 72), rgb(5, 73, 11));
}
/*Configuração do Visor*/
div#calculadora.green #visor{
	background: rgb(248, 246, 222);
	box-shadow: 0px 0px 30px rgb(178, 180, 42) inset;
	color: rgb(0, 0, 0);
}

div#calculadora.green input.skin{
/*Configurações do botão*/
	border-color: #104d1d;
	background: linear-gradient(0deg, rgb(16, 37, 19) 4%, rgb(17, 58, 26) 52%, rgb(44, 94, 34) 30%, rgb(102, 138, 113));
	transition:box-shadow 1px 1px 2px rgba(0,0,0,.5) 1s;
/*Configuração da fonte*/
	font-family: 'Orbitrom';
	text-shadow: 0px -1px 0px rgba(151, 151, 151, 0.39);
	color:  rgba(180, 211, 172, 0.637);
}
/*Iluminação de botão ao ser pressionado*/
div#calculadora.green input.skin:active{
	box-shadow: 0px 0px 15px rgb(97, 250, 105);
	color: rgb(182, 255, 188);
	text-shadow: 0px -1px 0px rgb(46, 228, 101);
}
/*Neste bloco estão configuradas as cores do tema Orange*/
/*Cores do corpo da calculadora*/
div#calculadora.orange{
	border: 1px rgb(56, 27, 8) solid;
	box-shadow: 0px 5px 15px 2px rgba(185, 73, 9, 0.61);
	background-image: linear-gradient(120deg, rgb(102, 37, 12),rgb(94, 41, 17),rgb(165, 70, 15), rgb(73, 32, 5));
}
/*Configuração do Visor*/
div#calculadora.orange #visor{
	background: rgb(236, 174, 123);
	box-shadow: 0px 0px 30px rgb(165, 91, 48) inset;
	color: rgb(0, 0, 0);
	box-shadow: rgb(94, 17, 17);
}

div#calculadora.orange input.skin{
/*Configurações do botão*/
	border-color: #4d2110;
	background: linear-gradient(0deg, rgb(61, 21, 6) 4%, rgb(58, 32, 17) 52%, rgb(97, 45, 30) 30%, rgb(139, 117, 108));
	transition:box-shadow 1px 1px 2px rgba(0,0,0,.5) 1s;
/*Configuração da fonte*/
	text-shadow: 0px -1px 0px rgba(151, 151, 151, 0.39);
	color:  rgba(211, 186, 172, 0.637);
}
/*Iluminação de botão ao ser pressionado*/
div#calculadora.orange input.skin:active{
	box-shadow: 0px 0px 15px rgb(250, 145, 97);
	color: rgb(255, 221, 182);
	text-shadow: 0px -1px 0px rgb(228, 113, 46);
}